footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.keyboard-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  background-color: #d3d6da;
  border-radius: 8px;
  width: 40px;
  height: 50px;
  font-size: 20px;
}

.keyboard-column.wide {
  width: 60px;
  font-size: 12px;
}

.footer-icons__img {
  width: 30px;
}
